html{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding-left: 5%;
}

h1{
    font-size: 3em;
    font-weight: bold;
    color: darkmagenta;
    text-align: left;
}
h2{
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: darkmagenta;
}
ul{ 
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: darkmagenta;
}
body {
    background-color: plum;
}